:root {
  --menubar-bg-color: #dddfcc;
  --terminal-bg-color: rgba(40, 39, 39, 0.6);
  --window-boxshadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --text-color: #ebdbb3;
  --light-green: #5fd700;
}

html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Consolas, Monaco, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
