.container {
  background-image: url('/javascript-wallpaper.png');
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}